.contentPageShell {
    background-color: var(--bg);
    box-sizing: border-box;
}

.mainContent {margin-top: var(--header-height);
    background-color: rgb(196, 185, 185);
    max-width: 1200px;
    padding-inline: clamp(1.5rem, 5vw, 2rem);
    margin-inline: auto;
}