.contentContainer {
  width: 100%;
  padding-bottom: 1rem;
}

.sectionHeader{
width: 100%;
}


.postGrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .postGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section {
  width: 100%;
  padding: 1rem;
  background-color: rgb(227, 230, 230);
}

.postCard {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  h2 {
    color: black;
    font-size: 1.5rem;
    }
  link {
    text-decoration: none;
    color: black;
  }
}

.postCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postCover {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.postTitle {
  color: black;
  font-size: clamp(1.75rem 4vw 3rem);
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  margin: 0.5rem;
}

.postExcerpt{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
  padding: 0 1rem;
}

.postLink:link {
  text-decoration: none;
  color: black;
}

.postLink:hover {
  text-decoration: underline;
}

.postLink:visited {
  color: rgb(37, 37, 37);
}

.postDate {
  display: block;
  font-size: 0.9rem;
  color: rgb(37, 37, 37);
  margin: 0.5rem;
}

.readMore {
  display: inline-block;
  margin: 0.5rem;
  color: rgb(37, 37, 37);
  text-decoration: none;
}